*{
    margin: 0;
    padding: 0;
}

.home-wrapper{

    width: 100%;
    height: 100%;
}


#BBLue{
    position: absolute;
    width: 82px;
    height: 63px;
    left: 1280px;
    top: 200px;
}

#BWhite{
    /* White bouchon */

position: absolute;
width: 82.65px;
height: 63.5px;
left: -16px;
top: 209px;


transform: rotate(15.53deg);

}


#BOrange{
  

position: absolute;
width: 116.04px;
height: 87.11px;
left: 51px;
top: 300.08px;


transform: rotate(-34.71deg);


}


.about-us{
   
   
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient();
    position: relative;
    background-color: #83a4925b;
}

.about-us .rectangle-wrapper{
    width: 100%;
    height: 10rem;
    z-index: -1;
}

.about-us .rectangle-wrapper .rectangle{
   float: right;
   margin-top: -5px;

}

.about-us .about-content{
    
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:5rem;
    margin:1rem auto;

}

.about-us .about-content  p{
    width: 400px;
    height: 200px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffff;
    border-radius: 15px;
}


.about-us .about-content img{
    width: 490px;
    height: 250px;
    z-index: 1;
    border-radius: 15px;
}



@media screen and (max-width:780px) {
    .banner-container #bottle{
        width: 400px;
    }

#BBLue{
    display: none;
}



.catch-phrase{
    max-width: 400px;
}
.about-us .about-content{
    flex-direction: column;
    gap:20px;
    margin:4rem 0;
}
}
@media screen and (max-width:680px) {
    .banner-container #bottle{
        width: 310px;
    }
}
@media screen and (max-width:490px) {
    .banner-container #bottle{
        width: 250px;
    }


    .titles h2{
    
    font-size: 14px;
    }

    .titles h1{
        font-size: 18px;
    }
}


@media screen and (max-width:490px) {
    .banner-container #bottle{
        width: 200px;
    }
    .about-us .about-content{
        justify-content: center;
    }

#BWhite{
        left:10px;
        top:100px;
}


.banner-container{
    top:3;
}

}